<form action="/employee/save" method="post">
 
	 <div class="modal-header">
	 
		<h3 class="modal-title">Insert New Employee</h3>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	         <span aria-hidden="true">&times;</span>
	    </button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label class="col-form-label col-md-3">First name:</label>
			<div class="col col-md-9">
				<input type="text" name="firstName" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">Last name:</label>
			<div class="col col-md-9">
				<input type="text" name="lastName" class="form-control">
			</div>
		</div>	
		<div class="form-group row">
			<label class="col-form-label col-md-3">Address:</label>
			<div class="col col-md-9">
				<input type="text" name="address" class="form-control">
			</div>
		</div>	
		<div class="form-group row">
			<label class="col-form-label col-md-3">Email:</label>
			<div class="col col-md-9">
				<input type="text" name="email" class="form-control">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">Place of Birth:</label>
			<div class="col col-md-9">
				<input type="text" name="birthPlace" class="form-control">
			</div>
		</div>	
		<div class="form-group row">
			<label class="col-form-label col-md-3">Date of Birth:</label>
			<div class="col col-md-9">
				<input type="date" name="birthDate" class="form-control">
			</div>
		</div>	
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success">SUBMIT</button>
	</div>
</form>