<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
	<title>Index Employee</title>
</head>
<body>
	<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h1 class="text-center card-title">Employee List</h1>
			<a id="btn-add" href="#" class="btn btn-primary">Tambah <i class="fas fa-user-plus"></i></a>
		</div>
		<div class="card-body">
			<table class="table">
			<thead class="bg-success text-white">
				<tr>
					<th>ID</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Address</th>
					<th>Email</th>
					<th>PlaceOfBirth</th>
					<th>DateOfBirth</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody class="bg-light">
				<tr th:each="bd : ${listData}" >
					<td><span th:text="${bd.id}"></span></td>
					<td><span th:text="${bd.firstName}"></span></td>
					<td><span th:text="${bd.lastName}"></span></td>
					<td><span th:text="${bd.address}"></span></td>
					<td><span th:text="${bd.email}"></span></td>
					<td><span th:text="${bd.placeOfBirth}"></span></td>
					<td><span th:text="${bd.dateOfBirth}"></span></td>
					<td class="text-center">
						<a class="btn btn-warning" th:href="@{edit/{id}(id=${bd.id})}">Edit <i class="fas fa-edit"></i></a> | 
						<a class="btn btn-danger" th:href="@{delete/{id}(id=${bd.id})}">Hapus <i class="fas fa-trash"></i></a>	
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	</div>
	
	<!-- Modal Start -->
	<div id="modal-form" class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			
		</div>
	</div>
</div>
	<!-- Modal Finish -->
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" ></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
    
   		$("#btn-add").click(function() {
       		// alert("testistustos");
       		$.ajax({
       			url:'/employee/add',
       			type:'get',
       			dataType:'html',
       			success:function(hasil){
       				$("#modal-form").find(".modal-content").html(hasil);
       				$("#modal-form").modal("show");		
       			}
       		});
       	});	
   	
    	$(".btn-edit").click(function() {
    		var abc = $(this).attr("href");
    		$.ajax({
       			url:abc,
       			type:'get',
       			dataType:'html',
       			success:function(hasil){
       				$("#modal-form").find(".modal-content").html(hasil);
       				$("#modal-form").modal("show");		
       			}
       		});
    		return false;
    	});
    </script>
</body>
</html>