<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Siswa Save</title>
	</head>
	<body>
		<h1>Siswa Save Page</h1>
		<p th:text="'ID: ' + ${data.id}" />
		<p th:text="'Nama: ' + ${data.nama}" />
		<p th:text="'Alamat: ' + ${data.alamat}" />
		<p th:text="'Jk: ' + ${data.jk}" />
		<p th:text="'Telp: ' + ${data.telp}" />
	</body>
</html>