<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Keluarga Save</title>
	</head>
	<body>
		<h1>Keluarga Save Page</h1>
		<p th:text="'ID : ' + ${data.id}" />
		<p th:text="'Status : ' + ${data.status}" />
		<p th:text="'Nama : ' + ${data.nama}" />
		<p th:text="'Jenis Kelamin : ' + ${data.jk}" />
		<p th:text="'Usia : ' + ${data.usia}" />
		<p th:text="'Pekerjaan : ' + ${data.pekerjaan}" />
	</body>
</html>