<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Peternakan Index</title>
</head>
<body>
	<h1>Peternakan List</h1>
	<p><a href="add">Menambah Hewan</a></p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>JML Sapi</th>
				<th>JML Kambing</th>
				<th>JML Ayam</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bd : ${listData}">
				<td><span th:text="${bd.id}"></span></td>
				<td><span th:text="${bd.jmlsapi}"></span></td>
				<td><span th:text="${bd.jmlkambing}"></span></td>
				<td><span th:text="${bd.jmlayam}"></span></td>
				<td><a th:href="@{edit/{id}(id=${bd.id})}">Edit</a> | <a th:href="@{delete/{id}(id=${bd.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>