<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Peternakan Save</title>
	</head>
	<body>
		<h1>Peternakan Save Page</h1>
		<p th:text="'ID : ' + ${data.id}" />
		<p th:text="'Sapi : ' + ${data.jmlsapi}" />
		<p th:text="'Kambing : ' + ${data.jmlkambing}" />
		<p th:text="'Ayam : ' + ${data.jmlayam}" />
	</body>
</html>