/*Example of data external CSS*/
body {
  background-color: black;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
h2 {
	color: white;
	border: 1px solid powderblue;
	padding: 30px;
	margin: 50px;
}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
#p01 {
  color: blue;
}
p.error {
  color: red;
}