<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
	<title>Index Biodata</title>
</head>
<body>
	<div class="container-fluid">
	<h1 class="text-center">List Biodata</h1>
	<p><a href="add" class="btn btn-primary">Tambah <i class="fas fa-user-plus"></i></a></p>
	<table class="table">
		<thead class="bg-success text-white">
			<tr>
				<th>ID</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Jenis Kelamin</th>
				<th>Telefon</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody class="bg-light">
			<tr th:each="bd : ${listData}">
				<td><span th:text="${bd.id}"></span></td>
				<td><span th:text="${bd.nama}"></span></td>
				<td><span th:text="${bd.alamat}"></span></td>
				<td><span th:text="${bd.jk}"></span></td>
				<td><span th:text="${bd.telp}"></span></td>
				<td class="text-center"><a th:href="@{edit/{id}(id=${bd.id})}" class="btn btn-warning">Edit <i class="fas fa-edit"></i></a> | <a th:href="@{delete/{id}(id=${bd.id})}" class="btn btn-danger">Hapus <i class="fas fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>