<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Dosen Index</title>
</head>
<body>
	<h1>Dosen List</h1>
	<p><a href="add">Menambah Dosen</a></p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nama</th>
				<th>Mata Kuliah</th>
				<th>JK</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bd : ${listData}">
				<td><span th:text="${bd.id}"></span></td>
				<td><span th:text="${bd.nama}"></span></td>
				<td><span th:text="${bd.matkul}"></span></td>
				<td><span th:text="${bd.jk}"></span></td>
				<td><a th:href="@{edit/{id}(id=${bd.id})}">Edit</a> | <a th:href="@{delete/{id}(id=${bd.id})}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>